body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
    background-image: url('../bigfield.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

header {
    font-size: 6vmin;
    font-family: 'Bungee';
    padding: 1vmin;
    color: brown;
    text-align: center;
    letter-spacing: .6vmin;
}

main {
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#play {
    font-size: 8vmin;
    font-weight: bold;
    padding: 2vmin;
    margin-top: 4vmin;
    border: .3vmin white;
    background-color: navy;
    color: white;
    border-radius: 5vmin;
    outline: none;
    cursor: pointer;
    position: absolute;
    bottom: 335px;
    left: auto;
    justify-content: center;
}

#timer {
    font-size: 3vmin;
    font-family: 'Bungee';
    padding: 2vmin;
    color: brown;
    margin-top: 4vmin;
    position: absolute;
    bottom: 0px;
    left: 850px;
    padding-right: 32%;
    visibility: hidden;

}

#score {
    font-size: 3vmin;
    font-family: 'bungee';
    padding: 2vmin;
    color: brown;
    margin-top: 4vmin;
    position: absolute;
    bottom: 0px;
    padding-left: 32%;
    visibility: hidden;
}

#clickable {
    width: 100%;
    height: 100%;
    cursor: crosshair;
    visibility: hidden;
}

#replay {
    font-size: 8vmin;
    font-weight: bold;
    padding: 2vmin;
    margin-top: 4vmin
    border: 3vmin white;
    background-color: red;
    color: white;
    border-radius: 5vmin;
    outline: none;
    cursor: pointer;
    position: absolute;
    bottom: 335px;
    left: auto;
    justify-content: center;
}

#time {
    color: white;
    
}

#point {
    color: white;

}


#bird1, #bird2, #bird3, #bird4, #bird5, #bird6, #bird7, #bird8, #bird9, #bird10 {
    content: url('../bird.png');
    width: 85px;
}

#bird1 {
    position: absolute;
    top: 720px;
    left: 492px;   
}

#bird2 {
    position: absolute;
    top: 149px;
    left: 426px;   
}

#bird3 {
    position: absolute;
    top: 407px;
    left: 298px;  
}

#bird4 {
    position: absolute;
    top: 350px;
    left: 634px;   
}

#bird5 {
    position: absolute;
    top: 509px;
    left: 885px;  
}

#bird6 {
    position: absolute;
    top: 411px;
    left: 1101px; 
}

#bird7 {
    position: absolute;
    top: 542px;
    left: 98px;  
}

#bird8 {
    position: absolute;
    top: 110px;
    left: 1116px; 
}

#bird9 {
    position: absolute;
    top: 228px;
    left: 221px; 
}

#bird10 {
    position: absolute;
    top: 414px;
    left: 1500px; 
}



#tryAgain {
    font-size: 8vmin;
    font-weight: bold;
    padding: 2vmin;
    margin-top: 4vmin;5
    border: .3vmin white;
    background-color: red;
    color: white;
    border-radius: 5vmin;
    outline: none;
    cursor: pointer;
    position: absolute;
    bottom: 335px;
    left: auto;
    justify-content: center;
    visibility: hidden;

}

#loseMessage {
    font-size: 4vmin;
    font-weight: bold;
    font-family: 'bungee';
    padding: 2vmin;
    margin-top: 4vmin;
    border: 3vmin white;
    color: navy;
    border-radius: 5vmin;
    outline: none;
    cursor: pointer;
    position: absolute;
    bottom: 590px;
    left: auto;
    justify-content: center;
    visibility: hidden;
    
}

#winMessage {
    font-size: 4vmin;
    font-weight: bold;
    font-family: 'bungee';
    padding: 2vmin;
    margin-top: 4vmin;
    border: 3vmin white;
    color: navy;
    border-radius: 5vmin;
    outline: none;
    cursor: pointer;
    position: absolute;
    bottom: 590px;
    left: auto;
    justify-content: center;
    visibility: hidden;
    
}

#instructions {
    font-size: 4vmin;
    font-weight: bold;
    font-family: 'bungee';
    padding: 2vmin;
    margin-top: 4vmin;
    border: 3vmin white;
    color: navy;
    border-radius: 5vmin;
    outline: none;
    cursor: pointer;
    position: absolute;
    bottom: 590px;
    left: auto;
    justify-content: center;
    