body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
    background-image: url('../bigfield.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

header {
    font-size: 6vmin;
    font-family: 'Bungee';
    padding: 1vmin;
    color: brown;
    text-align: center;
    letter-spacing: .6vmin;
}

main {
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#play {
    font-size: 8vmin;
    font-weight: bold;
    padding: 2vmin;
    margin-top: 4vmin;
    border: .3vmin solid navy;
    background-color: navy;
    color: white;
    border-radius: 5vmin;
    outline: none;
    cursor: pointer;
    position: absolute;
    bottom: 335px;
    left: auto;
    justify-content: center;
}

#timer {
    font-size: 3vmin;
    font-family: 'Bungee';
    padding: 2vmin;
    color: brown;
    margin-top: 4vmin;
    position: absolute;
    bottom: 0px;
    padding-right: 32%;

}

#score {
    font-size: 3vmin;
    font-family: 'bungee';
    padding: 2vmin;
    color: brown;
    margin-top: 4vmin;
    position: absolute;
    bottom: 0px;
    padding-left: 32%;
}




